*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #4facfe,
        #00f2fe,
        #8e2de2,
        #4a00e0
    );
}

.calculator{
    width:380px;
    padding:25px;
    border-radius:25px;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(15px);

    box-shadow:0 8px 32px rgba(0,0,0,0.3);

    text-align:center;
}

.calculator h2{
    color:white;
    margin-bottom:20px;
}

#display{
    width:100%;
    height:75px;

    border:none;
    outline:none;

    border-radius:15px;

    padding:15px;

    font-size:2rem;
    text-align:right;

    color:white;

    background:rgba(255,255,255,0.2);

    margin-bottom:20px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:12px;
}

button{
    height:65px;
    border:none;
    border-radius:15px;
    font-size:1.2rem;
    cursor:pointer;

    color:white;

    background:rgba(255,255,255,0.15);

    transition:all 0.3s ease;
}

button:hover{
    transform:translateY(-3px);
    background:rgba(255,255,255,0.25);
}

button:active{
    transform:scale(0.95);
}

.operator{
    background:#ff9f43;
}

.operator:hover{
    background:#ffb55e;
}

.special{
    background:#ff4757;
}

.special:hover{
    background:#ff6b81;
}

.equal{
    background:#2ed573;
}

.equal:hover{
    background:#4cd97b;
}

.zero{
    grid-column:span 2;
}

@media(max-width:500px){

    .calculator{
        width:95%;
    }

    button{
        height:55px;
    }

    #display{
        font-size:1.6rem;
    }
}